@use '../../scss/utilities';

.leaderboard {
  position: relative;
  width: 100%;
  padding: 1rem 2rem 2rem;
  border-radius: 5px;
  background: var(--todo-bg-color);
  color: var(--text-color);
  box-shadow: var(--shadow);

  .icon-crown {
    @include utilities.flex();
    position: absolute;
    top: 0;
    left: 60px;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: var(--todo-bg-color);
    color: orange;
    border-radius: 5px;
    box-shadow: var(--shadow);
  }

  .leaderboard-header {
    margin-bottom: 1.5rem;

    .heading {
      margin-bottom: 1.5rem;
      padding: 1rem;
      font-size: 1.25rem;
      text-align: center;

      & + div {
        @include utilities.flex($justify-content: space-between);
        padding-left: 9.5rem;
        padding-right: 1rem;
        color: var(--text-muted-color);
      }
    }
  }

  .user-list {
    @include utilities.flex(
      $direction: column,
      $align-items: stretch,
      $gap: 1.75rem
    );
    list-style: none;

    .user-item {
      @include utilities.flex($justify-content: space-between);

      .index {
        @include utilities.flex($inline: true);
        width: 50px;
        font-size: 1rem;
      }

      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .main {
        @include utilities.flex($direction: column, $align-items: flex-start);
        flex-grow: 2;
        padding: 0 1rem;

        .label {
          display: inline-block;
          margin-left: 0.75rem;
          padding: 0.4rem 0.8rem;
          border-radius: 5px;
          background: var(--primary-color);
          color: #fff;
        }

        .progress {
          background: var(--primary-color);
          height: 0.25rem;
          box-shadow: 0px 1px 5px 2px rgba(123, 165, 255, 0.35);
          border-radius: 10px;
        }
      }

      .score {
        padding-right: 2rem;
        color: var(--primary-color);
        font-size: 1.25rem;
      }
    }
  }
}

@media (max-width: 678px) {
  .leaderboard {
    padding: 2.5rem 1rem;

    .leaderboard-header .heading + div {
      padding-left: 7rem;
      padding-right: 0.5rem;
    }

    .icon-crown {
      left: 50px;
    }

    .user-list {
      padding: 0 0.5rem;

      .user-item {
        .index {
          font-size: 0.8rem;
          width: 15px;
        }

        .avatar {
          width: 35px;
          height: 35px;
        }

        .main {
          .label {
            margin-left: 0.5rem;
            padding: 5px 8px;
          }
        }

        .score {
          padding-right: 0.75rem;
        }
      }
    }
  }
}
