@use '../../../scss/utilities';

.todo-list {
  list-style: none;
  width: 100%;
  box-shadow: var(--shadow);

  .remaining,
  .btn {
    padding: 6px 12px;
    background: transparent;
    color: var(--text-muted-color);
    font-size: 13px;
    font-weight: 700;
  }

  .bottom {
    @include utilities.flex($justify-content: space-between, $gap: 0);
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    background: var(--todo-bg-color);
    border-radius: 3px;

    .remaining {
      font-weight: 400;
    }
  }
}

.filters {
  @include utilities.flex();
}

.clear,
.filter {
  &:hover {
    color: var(--filter-hover-text-color) !important;
  }

  &.active {
    color: var(--primary-color) !important;
  }
}

.todo-item {
  @include utilities.flex($justify-content: space-between);
  padding: 1rem 1.5rem;
  background: var(--todo-bg-color);
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 3px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  &.dragging {
    background: var(--border-color);
  }

  label {
    cursor: pointer;
    position: relative;
    user-select: none;
    padding-left: 3rem;

    &:hover .checkmark {
      background: var(--input-checked-bg-color);
    }

    input {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;

      &:checked + .checkmark {
        background: var(--input-checked-bg-color);

        &::after {
          background: transparent;
        }

        svg {
          visibility: visible;
        }
      }

      &:checked ~ .task-name {
        color: var(--text-muted-color);
        text-decoration: line-through;
      }
    }

    .checkmark {
      position: absolute;
      top: 40%;
      left: 0;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--input-border-color);
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 19px;
        height: 19px;
        background: var(--todo-bg-color);
      }

      svg {
        visibility: hidden;
      }
    }
  }

  .close {
    visibility: hidden;
    padding: 0;
  }

  &:hover .close {
    visibility: visible;
  }
}

@media (max-width: 678px) {
  .todo-list {
    .todo-item {
      padding: 1rem;

      label {
        padding-left: 2rem;
      }
    }
  }

  .filters {
    width: 100%;
    background: var(--todo-bg-color);
    margin-top: -1rem;
    padding: 0.75rem 1rem;
    border-radius: 3px;
    box-shadow: var(--shadow);

    .filter {
      padding: 6px 12px;
      background: transparent;
      color: var(--text-muted-color);
      font-size: 13px;
      font-weight: 700;
    }
  }
}
