@mixin flex(
  $inline: false,
  $direction: row,
  $justify-content: center,
  $align-items: center,
  $gap: 1rem
) {
  @if $inline {
    display: inline-flex;
  } @else {
    display: flex;
  }
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}
