@use './variables';
@use './components';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: var(--body-bg-color);
}

.background {
  height: 320px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--bg-path) no-repeat center center/cover;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2rem;
}
