@use '../../scss/utilities';

.my-todo {
  @include utilities.flex($direction: column, $gap: 2rem);
  margin-bottom: 2rem;
  padding: 0 2rem;

  .tip {
    display: block;
    color: var(--text-muted-color);
  }

  .signin-reminder {
    margin-top: 0.5rem;
    color: var(--text-color);

    .link {
      font-weight: 700;
    }
  }
}

@media (max-width: 576px) {
  .my-todo {
    padding: 0;
  }
}
